anyio==3.7.0
bcrypt==4.0.1
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
dnspython==2.3.0
exceptiongroup==1.1.1
fastapi==0.98.0
Flask==2.3.2
Flask-Mail==0.9.1
idna==3.4
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
passlib==1.7.4
pydantic==1.10.9
pymongo==4.4.0
pyotp==2.8.0
requests==2.31.0
sniffio==1.3.0
starlette==0.27.0
Student==0.0.1
typing_extensions==4.6.3
urllib3==2.0.3
Werkzeug==2.3.6
zipp==3.15.0
